#background {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100vh;
    z-index: -1;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: radial-gradient(circle, rgba(0,0,0,0.59156162464986) 0%, rgba(0,0,0,1) 100%);
}